<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <base href="{{.Base}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="resources/icon/favicon_32x32.ico">
    <title>{{.Title}}</title>

    {{block "link" .}}
    <link rel="stylesheet" href="resources/css/main.css" />
    {{end}}
    {{block "style" .}}
    
    {{end}}
  </head>

  <body class="{{.BodyClass}}">

    <div class="{{.MainDivClass}}">

      <!---HEADER--->
      {{block "header" .}}

      {{end}}
      
      <!----CONTENT---->
      {{block "content" .}}

      {{end}}
      
    </div>

    {{block "footer" .}}

    {{end}}

  </body>

  {{block "scriptsrc" .}}
  <script src="resources/js/nlib.js"></script>
  <script src="resources/js/main.js"></script>
  {{end}}

  {{block "script" .}}
  <script>
  </script>
  {{end}}
  
</html>