<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <base href="{{.Base}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Application Hosting Platform for Developers | LxRoot"/>
    <meta name="twitter:title" content="Application Hosting Platform for Developers | LxRoot"/>
    <meta name="description" content="LxRoot is an Application Hosting Platform that empowers developers to build, run and deploy applications and websites from Git across multiple servers."/>
    <meta property="og:description" content="LxRoot is an Application Hosting Platform that empowers developers to build, run and deploy applications and websites from Git across multiple servers."/>
    <meta name="twitter:description" content="LxRoot is an Application Hosting Platform that empowers developers to build, run and deploy applications and websites from Git across multiple servers."/>
    <meta property="og:image" content="https://lxroot.com/resources/image/illustration.svg?fit=max&auto=format"/>
    <meta name="twitter:image" content="https://lxroot.com/resources/image/illustration.svg?fit=max&auto=format"/>
    <link rel="icon" type="image/x-icon" href="resources/icon/favicon_32x32.ico">
    <title>{{.Title}}</title>
    {{block "link" .}}
    <link rel="stylesheet" href="resources/css/main_min.css" />
    {{end}}
    {{block "style" .}}
    
    {{end}}
  </head>

  <body class="{{.BodyClass}}">

    <div class="{{.MainDivClass}}">

      {{block "header" .}}

      {{end}}
      
      {{block "content" .}}

      {{end}}
      
    </div>

    {{block "footer" .}}

    {{end}}

  </body>

  {{block "scriptsrc" .}}
  <script src="resources/js/nlib_min.js"></script>
  <script src="resources/js/main_min.js"></script>
  {{end}}

  {{block "script" .}}
  <script>
  </script>
  {{end}}
</html>