<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <base href="{{.Base}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="resources/icon/favicon_32x32.ico">
    <title>{{.Title}}</title>

    {{block "link" .}}
    <link rel="stylesheet" href="resources/css/main.css" />
    {{end}}
    {{block "style" .}}
    
    {{end}}
  </head>

  <body class="{{.BodyClass}}">

    <div class="{{.MainDivClass}}">

      <!---HEADER--->
      {{block "header" .}}

      {{end}}
      
      <!----CONTENT---->
      {{block "content" .}}

      {{end}}
      
    </div>

    {{block "footer" .}}

    {{end}}

  </body>

  {{block "scriptsrc" .}}
  <script src="resources/js/nlib.js"></script>
  <script src="resources/js/main.js"></script>
  {{end}}

  <script>

    let naccessName="client"; 
    function arrayValueExist(findme, comparewithUrl){
      const urls=[];
      if(naccessName!="client"){
          urls['/orders']="/orders";

      }else if (naccessName=="client"){
          
          urls['/license']="/license";
          urls['/orders']="/orders";
          urls['/profile']="/profile";
          urls['/tickets']="/tickets";
          urls['/invoices']="/orders"
          urls['/security']="/profile"
          urls['/ticketnew']="/tickets"
          urls['/ticket/']="/tickets"

      }
      let val=urls[findme];
      if (val==comparewithUrl){
        return true;
      }else if (findme.includes(comparewithUrl)){
        return true;
      }
      console.log(findme,comparewithUrl);
      return false;
    }

    $('#topMenu').findAll("li>a").each( (element, index) => {
      $(element).removeClass(["text-primary","font-semibold"]);
      if (arrayValueExist(location.pathname,element.pathname)==true){
          $(element).addClass(["text-primary","font-semibold"]);
      }
    });
  </script>

  {{block "script" .}}
  <script>
  </script>
  {{end}}
  
</html>