<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LxRoot</title>
  </head>
  <body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100% !important;">
  <tr>
    <td align="center">
      <table style="border:1px solid #5865F2;border-radius:5px;margin:40px 0;" width="600" border="0" cellspacing="0" cellpadding="40">
        <tr>
          <td align="center"><div style="font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;text-align:left;width:465px;">
  
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100% !important;">
              <tr><td align="center">
                <div><img src="https://lxroot.com/resources/image/lxroot.png" width="80" alt="LxRoot" /></div>
                <h1 style="color:#000;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:24px;font-weight:normal;margin:30px 0;padding:0;">Verify your email to sign up for <b>LxRoot</b></h1>
              </td></tr>
            </table>
  
            <p style="color:#000;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:14px;line-height:24px;">
              We have received a signup attempt from {{.Location}} with the following name:
            </p>
            <br/>
  
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100% !important;">
              <tr>
                <td align="center" bgcolor="#f6f6f6" valign="middle" height="40" style="font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:16px;font-weight:bold;">{{.Name}}</td>
              </tr>
            </table>
  
            <br/>
            <p style="color:#000;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:14px;line-height:24px;">
              To complete the signup process, please click on the button below. Please note that by completing your signup you are agreeing to our 
              <a href="https://lxroot.com/terms" target="_blank" style="color:#067df7;text-decoration:none;">Terms & Conditions</a> 
              and <a href="https://lxroot.com/privacy" target="_blank" style="color:#067df7;text-decoration:none;">Privacy Policy</a>:</p>
            <br/>
  
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100% !important;">
              <tr><td align="center">
                <div>
                  <a href="{{.VerifyURL}}" target="_blank" style="background-color:#525EE6;border-radius:5px;color:#fff;display:inline-block;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:12px;font-weight:500;line-height:50px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">ACTIVATE</a>
                </div>
              </td></tr>
            </table>
  
            <br/>
            <p style="color:#000;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:14px;line-height:24px;">
              Or copy and paste this URL into a new tab of your browser:
            </p>
            <p style="color:#000;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:14px;line-height:24px;">
              <a href="{{.VerifyURL}}" target="_blank" style="color:#067df7;text-decoration:none;">{{.VerifyURL}}</a>
            </p>
            <br/>

            <hr style="border:none;border-top:1px solid #eaeaea;margin:26px 0;width:100%;"></hr>
            <p style="color:#666666;font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Roboto&quot;, &quot;Oxygen&quot;, &quot;Ubuntu&quot;, &quot;Cantarell&quot;, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;font-size:12px;line-height:24px;">
              If you didn't attempt to sign up but received this email, or if the location doesn't match, please ignore this email.
            </p>
            </div></td></tr>
       </table>

    </td>
  </tr>
</table>
<img src="{{.TrackerUrl}}" height="1" width="1" alt="lxroot">
</body>
</html>