<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your LxRoot License</title>
  </head>
  <body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100% !important;">
  <tr>
    <td align="center">
      <table style="border:1px solid #5865F2;border-radius:5px;margin:20px 0;" width="600" border="0" cellspacing="0" cellpadding="40">
        <tr>
          <td align="center"><div style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:15px; line-height:24px;text-align:left;width:485px;">
  
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:100% !important;">
              <tr><td align="center">
                <div><img src="https://lxroot.com/resources/image/lxroot.png" width="80" alt="LxRoot" /></div>
              </td></tr>
            </table>
  
            <p style="color:#2a2c2e;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:15px; line-height:24px;">
              Hi {{.Name}},
            </p>

            <p style="color:#2a2c2e;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:16px; line-height:24px;">
              We have created this installation guide to help you setup and configure your LxRoot cluster.
            </p>

            <p style="color: #2a2c2e;"><strong>Your licence key is:</strong> {{.LicenseKey}}</p>
            
         
            <p style="color:#2a2c2e;margin-bottom:0px;font-weight:500;">Your install command is:</p>
              
            <p style="margin-top:5px;border-radius:5px;background-color:#f6f6f6;padding:16px;color:#2a2c2e;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:15px; line-height:24px;">
              wget -qO- lxr.sh | bash -s yourdomain.com
            </p>

            <p  style="color:#2a2c2e;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:16px; line-height:24px;">
              Replace <strong>yourdomain.com</strong> with your desired LxRoot panel domain. This must already resolve to your server with DNS.
            </p>

            <p style="color:#2a2c2e;font-weight:bold;">Always run this command as root.</p>
              
            <p style="color:#2c2828; font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Roboto, Helvetica,Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;font-size:16px; line-height:24px;">
              The <strong>minimum hardware requirements for installing LxRoot are:</strong> A private virtual, 
              or bare-metal server (4GB RAM, 40GB disk, 2CPU cores or vCPUs) and Ubuntu 22.04 LTS.
            </p>
  
            <p style="color:#2c2828; font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Roboto, Helvetica,Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;font-size:16px; line-height:24px;">
              There's a couple of useful resources we recommend you bookmark - 
              <a href="https://docs.lxroot.com">Support documentation</a> and 
              <a href="http://api.lxroot.com">API documentation.</a>
            </p>

            <p style="color:#2c2828; font-family: -apple-system, BlinkMacSystemFont,'Segoe UI',Roboto, Helvetica,Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;font-size:16px; line-height:24px;">
              If you have any questions, feedback or feature requests don't hesitate to <a href="mailto:help@lxroot.com, mostain@lxroot.com">get in touch.</a>
            </p>

            <p style="color:#2a2c2e;">Thanks,</p>
            <p>&nbsp;</p>
            <p style="color:#2a2c2e;margin:5px;">LxRoot Team</p>

            <br/>
            <p style="color:#2a2c2e;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:16px; line-height:24px;padding:0px;margin:3px;">Join the LxRoot <a href="https://community.lxroot.com">community</a></p>
            <p style="color:#2a2c2e;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size:16px; line-height:24px;padding:0px;margin:3px;">Stay up to date at <a href="https://x.com/LxRoot59760">@LxRoot59760</a></p>
            
            </div></td></tr>
       </table>

    </td>
  </tr>
</table>
</body>
</html>