{{define "footer"}}

    <footer class="bg-secondary">
      <div class="footer px-4 py-4 container mx-auto flex gap-2 justify-center text-white">
        <p class="">Copyright © 2024 - All right reserved</p>
      </div>
    </footer>

{{end}}