{{define "footer"}}

    <footer class="bg-secondary">
      <div class="footer px-4 py-4 container mx-auto flex gap-2 justify-center text-white">
        <!-- <img class="w-5 h-auto" src="../assets/image/mateors_fav.png" alt="" /> -->
        <p class="">Copyright © 2024 - All right reserved</p>
      </div>
    </footer>

{{end}}